set scrolloff=5
set incsearch

map Q gq

Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'

vnoremap <C-c> "+y
nnoremap <C-c> "+y
inoremap <C-c> <Esc>"+y

vnoremap <C-v> "+p
nnoremap <C-v> "+p
inoremap <C-v> <C-o>"+p

nnoremap <Tab> >>
nnoremap <S-Tab> <<
vnoremap <Tab> >gv
vnoremap <S-Tab> <gv